
* 
{
   --Screen_Width: 98vw;
   --Screen_Height: 96vh;
   --Font_Size_Normal: 1.5vw;
   --Font_Size_Large: 2vw;
   --Font_Size_XLarge: 2.5vw;
   --Font_Size_XXLarge: 3vw;

   --Shadow_Thin: 8px 8px 8px hsla(0, 0%, 0%, 0.25), 16px 16px 16px hsla(0, 0%, 0%, 0.125);
   --Shadow_Thick: 16px 16px 16px hsla(0, 0%, 0%, 0.25), 32px 32px 32px hsla(0, 0%, 0%, 0.125);

   --Nav_Bar_Width: 90vw;
   --Nav_Height: 40px;
   --Nav_Cell_Width: 16vw;
   --Nav_Gap: 6vw;

   --Banner_Height: 25vh;
   --Panel_Height: 96vh;

   --Palette-Dark-Green: hsl(125, 5%, 55%);
   --Palette-Plain-Green: hsl(125, 5%, 65%);

   --Palette-Dark-Purple: hsl(285, 5%, 55%);
   --Palette-Plain-Purple: hsl(285, 5%, 65%);

   --Palette-Dark-Orange: hsl(45, 25%, 70%);
   --Palette-Plain-Orange: hsl(45, 25%, 80%);
}

body {   
   /* 
      USE THE C:// PATH WHEN WORKING LOCALLY.
      USE THE GITHUB PATH WHEN PREVIEWING THE WEBSITE.
   */

   /* --Path: C://DEV/WEBSITE; */
   --Path: http://htmlpreview.github.io/?https://github.com/Fennifae/Website;
}


.Dynamic { width: auto; height: inherit; }
.Fullscreen { width: var(--Screen_Width); height: var(--Screen_Height); }
.Centered { text-align: center; vertical-align: middle; }

/* NAV */
.Nav { background-color: var(--Palette-Plain-Orange); height: var(--Nav_Height); border-radius: 64px; font-size: var(--Font_Size_Normal); }
.Nav.Table { display: table; background-color: var(--Palette-Dark-Orange); width: var(--Nav_Bar_Width); padding: 5px; margin: auto; }
.Nav.Row { display: table-row; }
.Nav.Cell { display: table-cell; width: var(--Nav_Cell_Width); }
/* For creating gaps between cells */
.Nav.Stile { display: table-cell; background-color: var(--Palette-Dark-Orange); width: var(--Nav_Gap); }
.Nav.Cell.Button {border-style: groove; border-color: transparent; padding-left: 10px; padding-right: 10px; box-shadow: var(--Shadow_Thin); }
.Nav.Cell.Button:hover { border-color: hsla(45, 25%, 70%, 0.5); }

/* BANNERS */
.Banner { background-color: var(--Palette-Plain-Green); width: var(--Screen_Width); height: var(--Banner_Height); }
.Banner.Table { display: table;  background-color: var(--Palette-Dark-Green); padding: 5px; box-shadow: var(--Shadow_Thick); }
.Banner.Row { display: table-row; }
/* For filling the whole banner with a single cell */
.Banner.Cell { display: table-cell; }
/* For aligning a square image to the left or right */
.Banner.Icon { display: table-cell; width: var(--Banner_Height); height: var(--Banner_Height); }
.Banner.Caption { display: table-cell; width: (99vw - var(--Banner_Height)); height: var(--Banner_Height); }

/* PANELS */
.Panel { background-color: var(--Palette-Plain-Purple); width: var(--Screen_Width); height: var(--Panel_Height); }
.Panel.Table { display: table;  background-color: var(--Palette-Dark-Purple); padding: 5px; box-shadow: var(--Shadow_Thick); }
.Panel.Row { display: table-row; }
/* For filling the whole panel with a single cell */
.Panel.Cell { display: table-cell; }


/* Average Laptop */
@media (max-width: 1024px) {
   * 
   {
      --Nav_Height: 24px;
   }
}

/* Average Tablet Device */
@media (max-width: 768px) {
   * 
   {
      --Nav_Height: 16px;
   }
}

/* Average Mobile Device */
@media (max-width: 480px) {
   * 
   {
      --Nav_Height: 14px;
   }
}





