/* Global Color Definitions */
* {
   --Stack_Light_Color: lightgray;
   --Stack_Medium_Light_Color: silver;
   --Stack_Plain_Color: gray;
   --Stack_Medium_Dark_Color: slategray;
   --Stack_Dark_Color: darkgray;
}

/* Dynamically Scaling Images */
img.Stack { width: inherit; height: inherit; }

/* The holder center the Stack vertically in the cell. */
div.Stack { display: table-cell; vertical-align: middle; margin: auto; }

/* Tables */
table.Stack {
   display: table;
   background-color: var(--Stack_Dark_Color);
   border-style: groove;
   border-radius: 10px;
   border-spacing: 10px;
   margin: auto;
   padding: 10px;
   padding-bottom: 26px;
}
table.Stack.Card {
   background-color: var(--Stack_Plain_Color);
   border-radius: 25px;
   padding-bottom: 0px;
}

/* Rows */
tr.Stack{
   display: table-row;
   background-color: var(--Stack_Medium_Light_Color);
   margin: 0px;
   padding: 10px;
   width: 100%;
   height: auto;
}
tr.Stack.Reel { padding: 0px; background-color: transparent; }

/* Cells */
td.Stack_Frame {
   z-index: 120;
   position: relative;
   padding: 0px;
   height: auto;
   width: auto;
   top: 0px;
   bottom: 0px;
}
td.Stack_Frame.Left { z-index: 100; top: 16px; left: 60%; }
td.Stack_Frame.Right { z-index: 100; top: 16px; right: 60%; }

td.Stack_Card { background-color: var(--Stack_Light_Color); padding: 10px; height: 100%; width: 100%; }
