#Verification { height: 100vh; }
#Verification_Holder {
   display: table-cell;
   width: 100vw;
   height: 100vh;
   text-align: center;
   vertical-align: middle;
   background-image: url(../Images/Verification_BG.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50%;
}
#Verification_Box {
   display: table;
   width: 50%;
   margin: auto;
   border-style: ridge;
   border-width: 2vw;
   border-radius: 2vw;
   padding: 1vw;
}
#Verification_Message {
   display: table-cell;
   column-span: all;
   text-align: center;
   font-family: Andy-Bold;
   font-size: 2rem;
   padding-bottom: 5%;
}
#Verification_Greeting { font-family: Cookie; }
.Verification_Button {
   display: table-cell;
   cursor: grab;
   width: 50%;
   text-align: center;
   font-family: Cookie;
   font-size: 2rem;
   box-shadow: var(--Shadow_Thin);
   border-radius: 4vw;
   border-style: groove;
   border-color: transparent;
}

/* Average Laptop */
@media (max-width: 1024px) {
   #Verification_Message , .Verification_Button { font-size: 3rem; }
}
/* Average Tablet Device */
@media (max-width: 768px) {
   #Verification_Message , .Verification_Button { font-size: 4rem; }
}
/* Average Mobile Device */
@media (max-width: 480px) {
   #Verification_Box { width: 90%; }
   #Verification_Message , .Verification_Button { font-size: 5rem; }
}